<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <package android:name="org.telegram.messenger" />
        <package android:name="com.vkontakte.android" />
        <package android:name="ru.yandex.yandexmaps" />
        <package android:name="ru.dublgis.dgismobile" />
    </queries>

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher_classic"
        android:roundIcon="@mipmap/ic_launcher_classic"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:largeHeap="true"
        android:enableOnBackInvokedCallback="true"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/Theme.Safu"
        tools:targetApi="36">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard|density|uiMode|locale|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="safu" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/zip" />
                <data android:pathPattern=".*\\.safubackup" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".Icon_classic"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_classic"
            android:roundIcon="@mipmap/ic_launcher_classic"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_night"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_night"
            android:roundIcon="@mipmap/ic_launcher_night"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_ice"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ice"
            android:roundIcon="@mipmap/ic_launcher_ice"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_mint"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mint"
            android:roundIcon="@mipmap/ic_launcher_mint"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_violet"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_violet"
            android:roundIcon="@mipmap/ic_launcher_violet"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_sunset"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_sunset"
            android:roundIcon="@mipmap/ic_launcher_sunset"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_mono"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mono"
            android:roundIcon="@mipmap/ic_launcher_mono"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_ios6"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ios6"
            android:roundIcon="@mipmap/ic_launcher_ios6"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_machinarium"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_machinarium"
            android:roundIcon="@mipmap/ic_launcher_machinarium"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_aurora"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_aurora"
            android:roundIcon="@mipmap/ic_launcher_aurora"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_shield"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_shield"
            android:roundIcon="@mipmap/ic_launcher_shield"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_letter"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_letter"
            android:roundIcon="@mipmap/ic_launcher_letter"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_cap"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_cap"
            android:roundIcon="@mipmap/ic_launcher_cap"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_glass"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_glass"
            android:roundIcon="@mipmap/ic_launcher_glass"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_pixel"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_pixel"
            android:roundIcon="@mipmap/ic_launcher_pixel"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_neon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_neon"
            android:roundIcon="@mipmap/ic_launcher_neon"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_gold"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_gold"
            android:roundIcon="@mipmap/ic_launcher_gold"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_developer"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_developer"
            android:roundIcon="@mipmap/ic_launcher_developer"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_leather"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_leather"
            android:roundIcon="@mipmap/ic_launcher_leather"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_steel"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_steel"
            android:roundIcon="@mipmap/ic_launcher_steel"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_pin"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_pin"
            android:roundIcon="@mipmap/ic_launcher_pin"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".Icon_ticket"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ticket"
            android:roundIcon="@mipmap/ic_launcher_ticket"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity
            android:name=".system.AlarmActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.Safu.Alarm" />

        <receiver android:name=".system.NotifyReceiver" android:exported="false" />
        <receiver android:name=".system.LiveReceiver" android:exported="false" />
        <receiver android:name=".system.WakeAlarmReceiver" android:exported="false" />
        <receiver android:name=".background.BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
